@font-face {
  font-family: "SFProDisplay";
  src: url('../font/SanFrancisco/SFUIText-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: "SFProDisplayB";
  src: url('../font/SanFrancisco/SFUIText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "InterB";
  src: url("../font/Inter/static/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter1";
  src: url("../font/Inter/static/Inter-Light.ttf") format("truetype");
}
